<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Spawn the Gazebo world and robot urdf-->
    <include file="$(find factorybot)/launch/gazebo/sim_world.launch">
        <arg name="factorybot_type" value="amr"/>
        <arg name="factorybot_name" value="AMR"/>
    </include>

    <!-- Open rviz visualization -->
    <include file="$(find factorybot)/launch/demo_models/rviz_visualize_amr_urdf.launch">
        <arg name="rviz_config" value="pick_and_drop_amr.rviz"/>
    </include>

    <!-- AMCL -->
    <include file="$(find factorybot)/launch/slam/amcl.launch">
        <arg name="map_file" value="building_agv_slam.yaml"/>
    </include>

    <!-- Navigation using move_base -->
    <include file="$(find factorybot)/launch/navigation/path_planner.launch">
        <arg name="factorybot_name" value="AMR"/>
    </include>

    <!-- Autonomous pick and place -->
    <include file="$(find factorybot)/launch/navigation/pick_and_drop.launch"/>
</launch>