<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
  </include>

  <include file="$(find factorybot)/launch/gazebo/spawn_amr.launch">
    <arg name="visualize_lidar2D" value="true"/>
  </include>
</launch>
