<?xml version="1.0" ?>
<model>
    <name>AGV_3Dlidar</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Shashank Sharma</name>
        <email>shashank.sharma.1991@outlook.com</email>
    </author>
    <description>An AGV i.e. a forklift like autonomous guided vehicle equipped with 3D Lidar sensor</description>
</model>
