<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Put robot urdf file in the ROS param server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find factorybot_description)/urdf/agv.urdf.xacro'"/>

    <!-- Start joint_state_publisher_gui if Gazebo is not running -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <!-- Start robot_state_publisher to supply tf to Rviz -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find factorybot_description)/rviz/visualize_agv_urdf.rviz"/>

</launch>