<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="launch_prefix" default=""/>
    <arg name="agv_name" default="agv_1"/>

    <node pkg="agv_teleop" type="agv_teleop_key" name="agv_teleop_keyboard" output="screen" launch-prefix="$(arg launch_prefix)">
        <param name="robot_name" value="$(arg agv_name)"/>
    </node>
</launch>