<?xml version="1.0" ?>
<model>
    <name>building</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>shashank.sharma.1991@outlook.com</name>
        <email>A 30m x 30m x 4m building</email>
    </author>
    <description>Shashank Sharma</description>
</model>
