<?xml version="1.0" ?>
<model>
    <name>building</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Shashank Sharma</name>
        <email>shashank.sharma.1991@outlook.com</email>
    </author>
    <description>A 30m x 30m building</description>
</model>
